/* General Styling */
QWidget {
    background-color: #2b2b2b;
    color: #FFFFFF;
}

/* Panel Styling */
QTextEdit {
    border: 1px solid #333;
    background-color: #222;
    color: #FFFFFF;
    font-family: 'Courier';
    font-size: 14px;
    padding: 8px;
    margin: 5px;
}

/* Button Styling */
QPushButton {
    background-color: #333;
    border: 1px solid #444;
    padding: 5px 10px;
    color: #FFFFFF;
    margin: 5px;
    font-weight: bold;
    border-radius: 4px;
}

QPushButton:hover {
    background-color: #3d3d3d;
}

QPushButton:pressed {
    background-color: #292929;
}

/* Toggle Button Styling when Checked */
QPushButton:checked {
    background-color: #0078D7;  /*#333333 color when toggled */
    color: #FFFFFF;
}
