build
dist
.ruff_cache
__pycache__
engagement_details.json
config.json
suggestions_notes/1.html
suggestions_notes/ai_notes.html
suggestions_notes/suggestions.html
.DS_Store
poetry.lock
src/.DS_Store
nmap_output
